// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// font family: Lato-Black
@font-face {
  font-family: Lato_Black;
  src: url('../assets/fonts/Lato-Black.ttf');
}

// Font family: Lato-Bold
@font-face {
  font-family: Lato_Bold;
  src: url('../assets/fonts/Lato-Bold.ttf');
}

// Font family: Lato-Italic
@font-face {
  font-family: Lato_Italic;
  src: url('../assets/fonts/Lato-Italic.ttf');
}

// Font family: Lato-Regular
@font-face {
  font-family: Lato_Regular;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

.margin_0{
  margin: 0;
}

.padding_0{
  padding: 0;
}

.displayFlex{
  display: flex;
}

.textCenter{
  text-align: center;
  text-align: -webkit-center;
}

// Style Android buttons
.md button {
  text-transform: none;
}

// Style iOS buttons
.ios button {
  text-transform: none;
}

// footer
.ionFooter{
  height: 55px;
}

.toolbarFooter{
  height: 100%;
  padding: 0;
}

.toolbarFooter > .toolbar-content{
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.boxItem{
  text-align: center;
  padding: 0;
  width: 20%;
}

.iconFooter{
  width: 24px;
}

.textFooter{
  margin: 0;
  font-family: Lato_Bold;
  font-size: 9px;
  color: #4A5C72;
}

.textFooterOn{
  margin: 0;
  font-family: Lato_Black;
  font-size: 9px;
  color: #007AFF;
  // animation-name: textAnim;
  // animation-duration: 0.4s;
  // animation-fill-mode: forwards;
}

@keyframes textAnim {
  0%{font-size: 9px;}
  100%{font-size: 11px;}
}


// don't show back button in ios
.back-button.show-back-button{
  display: none;
}
