page-modal-new-note {
  // header
  .navBarModalEdit > div{
    background-color: transparent;
    border-color: transparent !important;
  }

  .titleHeader > div{
    color: #4A5C72;
    font-family: Lato_Bold;
    text-align: center;
    font-size: 16px;
  }

  // close button

  .closeModal{
    background-color: transparent;
    color: #4A5C72;
    font-family: Lato_Bold;
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
  }

  .label{
    color: #4A5C72;
    font-family: Lato_Bold;
    font-size: 14px;
    margin: 0;
    margin-top: 16px;
  }

  .inputNote{
    width: 100%;
    height: 30px;
    color: #4A5C72;
    font-family: Lato_Bold;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid #E8ECf1;
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 4px;
  }

  .inputNote::placeholder{
    color: #E8ECf1;
    font-family: Lato_Regular;
    font-size: 14px;
  }

  .textAreaNote{
    resize: none;
    width: 100%;
    height: 30%;
    color: #4A5C72;
    font-family: Lato_Bold;
    font-size: 14px;
    border: 1px solid #E8ECf1 !important;
    margin-top: 5px;
    border: 1px;
    padding: 16px;
    border-radius: 4px;
  }

  .textAreaNote::placeholder{
    color: #E8ECf1;
    font-family: Lato_Regular;
    font-size: 14px;
  }

}
