page-player-profile-locker {
  .header_title > div{
    padding-left: 16px;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
    font-family: Lato_Regular;
    color: #E8ECf1;
  }

  .buttonBack{
    background-color: transparent;
  }
}
