page-player-profile-locker {
  // header
  .header_title > div{
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
    font-family: Lato_Regular;
    padding: 0;
    text-align: center;
  }

  .iconHeader{
    width: 24px;
  }

  .buttonBack{
    background-color: transparent;
  }

  // tabs profile / locker

  .tabsProfileLockerContainer{ //tabs container
    background-color: #007AFF;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 10;
  }

  .tabsProfileLockerContainer > div{
    width: 50%;
    height: 100%;
  }
    // change button's properties in segment iOS
  .segment-ios-primary .segment-button{
    font-size: 14px;
    color: #4A5C72;
    font-family: Lato_Bold;
  }

  .segment-ios-primary .segment-button.segment-activated{
    font-size: 14px;
    font-family: Lato_Black;
    color: #fff;
  }

  .segment-activated .indicator{
    display: block;
  }

  .indicator{
    background-color: #00CAE7;
    width: 25px;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    display: none;
    border-radius: 15px;
  }

  // content segment
  //
  .contentProfileLocker{
    background-color: #F8F8FC;
  }

  .list_profile_locker{
    padding: 0 4px;
    margin-bottom: 71px;
  }

  .cardContainer{
    margin-top: 50px;
    height: 20%;
  }

  .cardProfile{
    padding: 16px;
    border-radius: 8px;
  }

  .picNameContainer{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .nameDescriptionContainer{
    margin-left: 16px;
  }

  .picPlayer{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    // margin-left: 15px;
  }

  .titleCard{
    font-size: 14px;
    color: #4A5C72;
    font-family: Lato_Bold;
  }

  .descriptionCard{
    font-size: 12px;
    color: #6D87A6;
    font-family: Lato_Regular;
  }

  .statusText{
    font-size: 14px;
    color: #76cf70;
    font-family: Lato_Regular;
  }

  .titleCard12{
    font-size: 12px;
    color: #6D87A6;
    font-family: Lato_Bold;
  }

  .hr{
    margin: 15px 0;
    background-color: #E8ECf1;
  }

  .statusInfoContainer{
    width: 47%;
  }

  .messageButtonContainer{
    width: 53%;
    display: flex;
    align-items: flex-end;
  }

  .iconInButtons{
    width: 24px;
    margin-right: 8px;
  }

  .messageButtonContainer>button{
    height: 40px;
    font-size: 16px;
  }

  // Goals

  .descriptionCardItalic{
    font-size: 16px;
    color: #E8ECf1;
    font-family: Lato_Italic;
  }

  // tags

  .textBlue{
    font-size: 14px;
    color: #71A5FD;
    font-family: Lato_Regular;
    margin: 10px 0;
  }

  .Tags{
    background-color: #71A5FD;
    color: #fff;
    font-family: Lato_Regular;
    font-size: 12px;
    padding: 6px 11px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  // edit tags

  .editTagsButton{
    margin-top: 20px;
    height: 40px;
  }

  .button-ios-grayButton.activated{
    background-color: #f5f5f5;
  }

  // tab locker

  .cardLocker{
    border-radius: 8px;
    padding: 16px;
  }

  .generalDataContainer{
    display: flex;
    align-items: center;
    border-radius: 8px;
  }

  .generalData{
    width: 70%;
    padding: 0 16px;
    line-height: 1.5;
  }

  .levelBox{
    background-color: #007AFF;
    // height: 100px;
    width: 30%;
    text-align: -webkit-center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .levelNumber{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 4px solid #fff;
    color: #fff;
    font-size: 25px;
    font-family: Lato_Black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .levelText{
    color: #fff;
    font-family: Lato_Regular;
    font-size: 12px;
    margin-bottom: 10px;
  }

  // player level

  .playerLevelContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .playerLevelContainer>div{
    width: 30%;
  }

  .iconLocker{
    width: 70%;
    border: 3px solid #E8ECf1;
    border-radius: 100%;
    padding: 5px;
  }

  .textBlueLevel{
    font-size: 14px;
    color: #71A5FD;
    font-family: Lato_Regular;
    margin-top: 5px;
  }

  .greenNumber{
    color: #63c85c;
  }

  .redNumber{
    color: #ff4235;
  }

  .yellowNumber{
    color: #ffda40;
  }

  .circleActivityHistory{
    position: relative;
    border: 1px solid #fff;
    border-radius: 100%;
    // background-clip: padding-box;
    background: linear-gradient(#00CAE7, #007AFF);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .numberInCircle{
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: #00CAE7;
    font-size: 30px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  // player notes

  .buttonSeeAll{
    color: #007AFF;
    font-family: Lato_Regular;
    background-color: transparent;
    float: right;
    font-size: 14px;
  }

  .noteContainer{
    border-bottom: 1px solid #E8ECf1;
    display: flex;
  }

  .textNoteContainer{
    width: 80%;
  }

  .textLesson{
    font-family: Lato_Bold;
    color: #6D87A6;
    font-size: 12px;
    margin-top: 16px;
  }

  .descriptionNote{
    font-family: Lato_Regular;
    color: #6D87A6;
    font-size: 12px;
    margin-top: 10px;
  }

  .dateNote{
    font-family: Lato_Italic;
    color: #6D87A6;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .iconEditContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    padding-bottom: 10px;
  }

  .iconEdit{
    width: 24px;
  }

  .sendNoteButton{
    margin-top: 10px;
    height: 40px;
  }

}
