<!--
  Generated template for the PlayerProfileLockerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button (click)="back_to_players()" class="buttonBack">
        <img src="assets/img/icon_back_white.png" class="iconHeader">
      </button>
    </ion-buttons>

    <ion-title class="header_title">Player</ion-title>

    <ion-buttons right>
      <button class="buttonBack">
        <img src="assets/img/icon_settings.png" class="iconHeader">
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <div class="tabsProfileLockerContainer">
    <ion-segment [(ngModel)]="profile_locker" color="primary">
      <ion-segment-button value="profile" class="segment-activated">
        <span>Profile</span>
        <div class="indicator"></div>
      </ion-segment-button>

      <ion-segment-button value="locker">
        <span>Locker</span>
        <div class="indicator"></div>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="cardContainer"  [ngSwitch]="profile_locker">
    <ion-list   *ngSwitchCase="'profile'" class="list_profile_locker">
       <ion-card class="cardProfile">
          <div class="picNameContainer">
            <img class="picPlayer" src="{{objects.profile_pic_url}}" alt="">
            <div class="nameDescriptionContainer">
              <p class="titleCard">{{objects.first_name}}</p>
              <p class="descriptionCard">{{objects.birthday}}</p>
              <p class="descriptionCard">{{objects.phone_number}}</p>
              <p class="descriptionCard">{{objects.email}}</p>
            </div>
          </div>
          <hr class="hr">
          <div class="displayFlex">
            <div class="statusInfoContainer">
              <p class="titleCard">Status &nbsp;<span class="statusText"> {{objects.status}}</span></p>
              <p class="descriptionCard">Login: <span class="titleCard12">{{objects.last_login}}</span></p>
              <p class="descriptionCard">Messages: <span class="titleCard12">{{objects.message_count}}</span></p>
              <p class="descriptionCard">Messaged: <span class="titleCard12">{{objects.last_messaged}}</span></p>
            </div>

            <div class="messageButtonContainer">
              <button ion-button round full icon-left color="skyBlue" class="margin_0">
                  <img src="assets/img/icon_message_white.png" class="iconInButtons">
                  Send Message
              </button>
            </div>
          </div>
       </ion-card>

       <ion-card class="cardProfile">
         <p class="titleCard">Goals</p>
         <p class="descriptionCardItalic">"I want to play on my High School Golf Team. I would like to break 80 by the end of the year."</p>
       </ion-card>

       <ion-card class="cardProfile" >
          <p class="titleCard">Assigned Tags</p>
          <p class="textBlue">System Tags</p>
          <p></p>
          <div >
            <button class="Tags" *ngFor="let tagsSystem of objects.system">{{tagsSystem}}</button>
            <!-- <button class="Tags">Kids</button> {{tagsSystem.goals}}*ngFor="let tagsSystem of this.PersonInfo.sports.golf" -->
          </div>

          <p class="textBlue">Custom Tags</p>
          <div>
            <button class="Tags" *ngFor="let tagsCustom of objects.custom">{{tagsCustom}}</button>
            <!-- <button class="Tags">Mondays</button> *ngFor="let tagsCustom of objects.sports.golf.tags.custom"
            <button class="Tags">Wednesdays</button> -->
          </div>
          <button ion-button round full color="grayButton" class="editTagsButton">Edit Tags</button>
       </ion-card>
     </ion-list>

     <ion-list *ngSwitchCase="'locker'" class="list_profile_locker">
        <ion-card class="generalDataContainer">
          <div class="levelBox">
            <div class="">
              <div class="levelNumber"><span>1</span></div>
              <p class="levelText">Beginner</p>
            </div>
          </div>
          <div class="generalData">
            <p class="titleCard">General Data</p>
            <p class="descriptionCard">Coach: <span class="titleCard12">John David Crow</span></p>
            <p class="descriptionCard">Onboard Date: <span class="titleCard12">Jan 22, 2015</span></p>
          </div>
        </ion-card>

        <ion-card class="cardLocker">
          <p class="titleCard textCenter">Player Level</p>
          <div class="playerLevelContainer">
            <div class="textCenter">
              <img src="assets/img/locker_putting.png" class="iconLocker">
              <p class="textBlueLevel">Putting</p>
              <p class="greenNumber">4.6</p>
            </div>
            <div class="textCenter">
              <img src="assets/img/locker_chipping.png" class="iconLocker">
              <p class="textBlueLevel">Chipping</p>
              <p class="redNumber">2.5</p>
            </div>
            <div class="textCenter">
              <img src="assets/img/locker_swing.png" class="iconLocker">
              <p class="textBlueLevel">Swing</p>
              <p class="redNumber">2.5</p>
            </div>
            <div class="textCenter">
              <img src="assets/img/locker_playing.png" class="iconLocker">
              <p class="textBlueLevel">Playing</p>
              <p class="yellowNumber">3.5</p>
            </div>
          </div>
          <hr class="hr">
          <p class="titleCard textCenter">Activity History</p>
          <div class="playerLevelContainer">
            <div class="textCenter">
              <div class="circleActivityHistory">
                <p class="numberInCircle">60</p>
              </div>
              <p class="textBlueLevel">Check In's</p>
            </div>
            <div class="textCenter">
              <div class="circleActivityHistory">
                <p class="numberInCircle">25</p>
              </div>
              <p class="textBlueLevel">Lessons</p>
            </div>
            <div class="textCenter">
              <div class="circleActivityHistory">
                <p class="numberInCircle">10</p>
              </div>
              <p class="textBlueLevel">Classes</p>
            </div>
          </div>
          <button ion-button round full color="grayButton" class="editTagsButton">Add Data</button>
        </ion-card>

        <ion-card class="cardLocker">
          <span class="titleCard">Player Notes</span>
          <button class="buttonSeeAll" (click)="go_notes()">See All</button>

          <div class="noteContainer">
            <div class="textNoteContainer">
              <p class="textLesson">Lesson 3 - Putting</p>
              <p class="descriptionNote">In this lesson we learn how putting is about...</p>
              <p class="dateNote">Dec 15</p>
            </div>
            <div class="iconEditContainer">
              <img src="assets/img/icon_edit.png" class="iconEdit">
            </div>
          </div>
          <!-- de prueba -->
          <div class="noteContainer">
            <div class="textNoteContainer">
              <p class="textLesson">Lesson 3 - Putting</p>
              <p class="descriptionNote">In this lesson we learn how putting is about...</p>
              <p class="dateNote">Dec 15</p>
            </div>
            <div class="iconEditContainer">
              <img src="assets/img/icon_edit.png" class="iconEdit">
            </div>
          </div>
          <div class="noteContainer">
            <div class="textNoteContainer">
              <p class="textLesson">Lesson 3 - Putting</p>
              <p class="descriptionNote">In this lesson we learn how putting is about...</p>
              <p class="dateNote">Dec 15</p>
            </div>
            <div class="iconEditContainer">
              <img src="assets/img/icon_edit.png" class="iconEdit">
            </div>
          </div>
          <button ion-button round full color="grayButton" class="sendNoteButton">Add Data</button>
        </ion-card>


     </ion-list>
  </div>
</ion-content>
