page-modal-note-sent {
  .navBarModal > div{
    background-color: transparent;
    border-color: transparent !important;
  }

  // close button

  .closeModal{
    background-color: transparent;
    color: #4A5C72;
    font-family: Lato_Bold;
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
  }

}
